<IfModule mod_rewrite.c>
<!-- /remove trailing slash -->
    RewriteEngine On
    Options +FollowSymLinks
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
    <!-- redirect to public -->
    RewriteEngine On
    # Redirect all requests to Laravel public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
